__pycache__/
*.py[cod]
*$py.class

.env
.venv
venv/
ENV/
env.bak/
venv.bak/

/assets/*
!assets/README.md

/plugins/*


# Built-in plugins
!plugins/search
!plugins/cpc

# Ignore built-in plugin assets, except README file
/plugins/search/assets/*
!/plugins/search/assets/README.md
/plugins/cpc/assets/*
!/plugins/cpc/assets/README.md

.env

.vscode/
